[Unit]
After=network-online.target

[Service]
type=simple
User=root
ExecStart=/bin/bash -c '/home/opc/.ssh/Neteasee.sh'

[Install]
WantedBy=multi-user.target

